<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110858778461-3m208fpp8rb2s51jlaak1ml3d1c91h20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110858778461-3m208fpp8rb2s51jlaak1ml3d1c91h20</string>
	<key>API_KEY</key>
	<string>AIzaSyDuPyIL59ulI-LE1-qSNCBX4jG6JKzwqg4</string>
	<key>GCM_SENDER_ID</key>
	<string>110858778461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.journalRiverpod</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-d9bf2</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-d9bf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110858778461:ios:ea04ac952a22a925065ab4</string>
</dict>
</plist>